@inherits ProductCardBase

<!--Card-->
<div class="card">
    <!--Card image-->
    <div class="view overlay">
        <NavLink href="@($"/products/{Product.Id}")">
            <img src="@Product.ImageUrl" class="card-img-top" alt="@Product.Name">
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
        </NavLink>

    </div>
    <!--Card image-->
    <!--Card content-->
    <div class="card-body text-center">
        <!--Category & Title-->
        <NavLink href="" class="grey-text">
            <h5>
                @Product.Brand
            </h5>
        </NavLink>
        <h5>
            <strong>
                <NavLink href="@($"/products/{Product.Id}")" class="dark-grey-text">
                    @Product.Name
                </NavLink>
            </strong>
        </h5>

        <h4 class="font-weight-bold blue-text">
            <strong>@Product.Price.ToString("C")</strong>
        </h4>

    </div>
    <!--Card content-->
</div>
<!--Grid column-->